<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<div class="container">
    <br/>
    <br />
    <br />
    <br />
    <div class="row">
        <a href=@Url.Action("ChoosePrefFaves")>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-12x ion-ios-star-outline text-primary sr-icons"></i>
                    <h2 class="text-primary">Choose From Faves</h2>
                    <p class="text-muted">Choose a prefered beer from your list of favorites</p>
                </div>
            </div>
        </a>
        <a href=@Url.Action("ChoosePrefPops")>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-12x ion-beer text-primary sr-icons"></i>
                    <h2 class="text-primary">Choose From Pops</h2>
                    <p class="text-muted">Choose a prefered beer from Fido's list of popular beers</p>
                </div>
            </div>
        </a>
        <a href=@Url.Action("ChoosePrefNew")>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-12x ion-ios-search text-primary sr-icons"></i>
                    <h2 class="text-primary">Choose From Search</h2>
                    <p class="text-muted">Search for and choose a prefered beer from BreweryDb.com</p>
                </div>
            </div>
        </a>
    </div>
</div>
