<div class="container">
    
    <div class="prefpick-button">
        <a href=@Url.Action("ChoosePrefFaves") class="btn btn-primary">Choose From Faves</a>
    </div>
    <div class="prefpick-button">
        <a href=@Url.Action("ChoosePrefProps") class="btn btn-primary">Choose From List</a>
    </div>
    <div class="prefpick-button">
        <a href=@Url.Action("ChoosePrefNew") class="btn btn-primary">Choose From New</a>
    </div>
</div>
