<div class="container">
    <br/>
    <br />
    <br />
    <div class="row">
        <div class="col-lg-4">
            <div class="prefpick-button">
                <a href=@Url.Action("ChoosePrefFaves") class="btn btn-purple">Choose From Faves</a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="prefpick-button">
                <a href=@Url.Action("ChoosePrefPops") class="btn btn-purple">Choose From Populars</a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="prefpick-button">
                <a href=@Url.Action("ChoosePrefNew") class="btn btn-purple">Choose From New</a>
            </div>
        </div>
    </div>
</div>
