@{
    ViewBag.Title = "AddBeerToFaves";
}

<head>
    <script src="http://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/_AddPrefNew.js">
    </script>
</head>
<body>
    <img src="http://loading.io/loader/?use=eyJzaXplIjo2MCwic3BlZWQiOjIsImNiayI6IiNjNTUyM2YiLCJjMSI6IiNlZGI2NGEiLCJjMiI6IiNmYWYzZTUiLCJjMyI6IiMzMzMzMzMiLCJjNCI6IiNmZjU5NTkiLCJjNSI6MCwiYzYiOjAsInR5cGUiOiJhbmltYWwifQ==" id="img" style="display:none" />
    <div class="conatainer">
        <br/>
        <div class="row">
            <div class="col-lg-6 text-primary">
                <h2>Search for and choose a beer</h2>
            </div>
            <div class="col-lg-6 form-group-lg">
                <br/>
                <input class="form-control" type="text" id="beerN" /><button id="searchBeersByName" class="btn btn-primary btn-sm">Search</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div id="pagingControls">
                <div class="col-lg-4">
                    <button class="btn btn-primary" id="prevPage">Prev Page</button> || <button class="btn btn-primary" id="nextPage">Next Page</button>
                </div>
                <div class="col-lg-6">
                    <input class="form-control" type="text" id="page" /><button class="btn btn-primary" id="goToPage">Go To Page</button>
                </div>
                <br />
                <br/>
                <br/>
            </div>
        </div>
        <div>
            <table id="resultTable" class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Style</th>
                    <th>Brewery</th>
                </tr>
                <tbody id="searchBeers"></tbody>
            </table>
        </div>
        <div class="loadingModal"></div>
    </div>
</body>