<div class="wrapper">
    <div class="glass-wrapper">
        <div class="glass">
            <div class="beer">
                <div class="foam">
                    <span class="foambubble"></span>
                    <span class="foambubble"></span>
                    <span class="foambubble"></span>
                    <span class="foambubble"></span>
                    <span class="foambubble"></span>
                </div>
                <div class="bubbles">
                    <span class="bubbles"></span>
                    <span class="bubbles"></span>
                    <span class="bubbles"></span>
                    <span class="bubbles"></span>
                    <span class="bubbles"></span>
                    <span class="bubbles"></span>
                    <span class="bubbles"></span>
                    <span class="bubbles"></span>
                    <span class="bubbles"></span>
                </div>
            </div>
            <div class="foamtop">
                <span class="ft-bubble"></span>
                <span class="ft-bubble"></span>
                <span class="ft-bubble"></span>
                <span class="ft-bubble"></span>
            </div>
            <div class="coaster"></div>
        </div>
    </div>
</div>
.wrapper
  .glass-wrapper
    .glass
      .beer
        .foam
          span.foambubble
          span.foambubble
          span.foambubble
          span.foambubble
          span.foambubble
        .bubbles
          span.bubble
          span.bubble
          span.bubble
          span.bubble
          span.bubble
          span.bubble
          span.bubble
          span.bubble
          span.bubble
    .foamtop
      span.ft-bubble
      span.ft-bubble
      span.ft-bubble
      span.ft-bubble
    .coaster
