<html>
<head>
    <script src="http://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/_addBeerInPkg .js">
    </script>
</head>
<body>

    <div class="conatainer">
        <input type="hidden" class="bcid" value=@ViewBag.BCId />
        <div class="row">
            <div class="col-lg-8">
                <br />
                <div class="row">
                    <div class="col-lg-5 text-primary">
                        <br />
                        <h3>Search and Choose a Beer</h3>
                    </div>
                    <div class="col-lg-7 text-right">
                        <br />
                        <input class="form-control form2" type="text" id="beerN" /><button id="searchBeersByName" class="btn btn-primary">Search</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div id="pagingControls">
                        <div class="col-lg-4">
                            <button class="btn btn-primary btn-sm" id="prevPage">Prev Page</button> || <button class="btn btn-primary btn-sm" id="nextPage">Next Page</button>
                        </div>
                        <div class="col-lg-8 text-right">
                            <input class="form-control form1" type="text" id="page" /><button class="btn btn-primary btn-sm" id="goToPage">Go To Page</button>
                        </div>
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
                <div>
                    <table id="resultTable" class="table table-striped">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Style</th>
                            <th>Brewery</th>
                        </tr>
                        <tbody id="searchBeers"></tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-4" style="margin-top: 53px;">
                <div><h2 class="text-center">Beers In Pkgs</h2></div>
                <hr />
                <div>
                    <ul class="beersInPkgs"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="loadingModal"></div>
</body>
</html>