<html>
<head>
    <script src="http://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/_addBeerOnTap.js">
    </script>
</head>
<body>
    <div class="conatainer">
        <input type="hidden" class="bcid" value=@ViewBag.BCId />
        <h4>@Html.ActionLink("Add Beer On Tap", "AddBeerOnTap")</h4>
        <h4>@Html.ActionLink("Add Beer In Pkg", "AddBeerInPkg")</h4>
    </div>
</body>
</html>
