@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <script src="http://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/_addBeer.js">
    </script>
    <style>
        table, tr, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <div class="conatainer">
        <div class="col-lg-12">
            <div class="row">
                <h3>Search For A Beer By Its Name</h3>
                <input type="text" id="beer" value="sweetgrass" />
                <button id="searchBeersByName">Get Beers</button>
            </div>
            <hr/>
            <div class="row text-center">
                <div id="pagingControls">
                    <button id="prevPage">Prev Page</button> || <button id="nextPage">Next Page</button>
                </div> 
            </div>
            <div class="row text-center">
                <div id="pgControls">
                    <input type="text" id="page"/><button id="goToPage">Go To Page</button>
                </div>
            </div>
            <hr/>      
            <div>
                <table>
                    <thead>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Style</th>
                    <th>Brewery</th>
                    </thead>
                    <tbody id="searchBeers">
                    </tbody>
                </table>
            </div>
        </div>
</body>
</html>