@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <script src="http://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/_addBeer.js">
    </script>
    <style>
        table, tr, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <div class="conatainer">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-offset-4">
                    <h2>Welcome To Pick My Beer</h2>
                    <h4>First things first,</h4>
                    <h4>Choose a beer that you know you'd enjoy</h4>
                </div>
            </div>  
            <div>
                @Html.ActionLink("Choose From My Faves", "ChoosePrefFaves", "AppUser")
            </div>
            <div>
                @Html.ActionLink("Choose From Popular Beers", "ChoosePrefPops", "AppUser")
            </div>
            <div>
                @Html.ActionLink("Choose A New Beer", "ChoosePrefNew", "AppUser")
            </div>
            <div>
                @Html.ActionLink("Screw It, Pick Me a Random Beer!", "Random", "Home")
            </div>
        </div>
</body>
</html>