
@{
    ViewBag.Title = "Sorry";
}
<div class="container">
    <a href="http://localhost:54414/AppUser/ChoosePref">
        <div class="row">
            <div class="col-lg-6">
                <img src="~/Uploads/FidoSmLogo.png" class="sorryLogo"/>
            </div>
            <div class="col-lg-6 text-center" style="margin-top: 100px">
                <h2>Sorry,</h2>
                <h2>Fido couldn't find a match with you prefered beer</h2>
                <h2>Try another beer</h2>
            </div>
        </div>
        <br />
        </a>
</div>
